<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827942650347-dd060batfcog1m87u47iid69otv300j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827942650347-dd060batfcog1m87u47iid69otv300j3</string>
	<key>API_KEY</key>
	<string>AIzaSyBQu0to0Nedc9F8Ui3iEf8pT3Cn421YJ54</string>
	<key>GCM_SENDER_ID</key>
	<string>827942650347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>urbantatar.radio</string>
	<key>PROJECT_ID</key>
	<string>urbantatar-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>urbantatar-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827942650347:ios:2b95013dfd2662853c99ae</string>
</dict>
</plist>